$primary-dark-blue: hsl(243, 87%, 12%);
$primary-desaturated-blue: hsl(238, 22%, 44%);

$accent-blue: hsl(224, 93%, 58%);
$accent-cyan: hsl(170, 45%, 43%);

$gray-blue: hsl(240, 75%, 98%);
$light-grey: hsl(0, 0%, 75%);
